body{
background-color:silver;
}

h1{
font-size:1.8em;
color:darkblue;
}

h2{
color:darkred;
}

header{
line-height:1.2em;
background-color:blue;
font-size:3.5em;
text-align:center;
color:black;
padding-bot:20px;
font:bold;
font-family:Arial;
padding-top:0px;
}

body{
margin-left:auto;
margin-right:auto;
}

div{
width:100%;
}

div.myAside{
width:20%;
float:left;
}

div.myBody{
width:78%;
float:right;
margin-left:auto;
margin-right:auto;
background-color:silver;
}

div.leftBlock{
width:68%;
float:left;
}

div.rightBlock{
float:right;
width:29%;
}

footer{
text-align:center;
margin:0;
clear:both;
background-color:blue;
}

#topImg{
float:left;
height:100px;
box-shadow: 0px 0px 3px 3px grey;
}

#contentImg{
width:100%;
}

button{
height:25px;
}

a:visited{
color:green;
}

aside{
background-color:grey;
}